/* Elements principaux de la page */


body
{
	width: 90rem;
	height: auto;
	background-color: white;
	font-family: 'Raleway', sans-serif;
}


a  /* supprime le soulignement et la couleur violette des textes cliquables */
{ 
	text-decoration: none;
	color: initial;
} 


/* Header */

#header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 6rem;
	/* margin-left: 2%;
	margin-right: 2%; */
}

.logo
{
	display: flex;
	height: 3.2rem;
	width: 8.2rem;
	margin-left: 1rem;
	margin-top: 1rem;
}

.navigation
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 28rem;
	/* border-top: solid 0.15rem transparent;
	padding-top: 1.3rem; */
}


.hebergements
{
	font-size: 1rem;
	width: 40%;
}


.hebergements:hover
{
	border-top: solid 0.15rem rgb(6, 72, 250);
padding-top: 3rem;
}



.activites
{
	font-size: 1rem;
	width: 30%;
}


.activites:hover
{
	border-top: solid 0.15rem rgb(6, 72, 250); 
	/* padding-top: 2rem; */
	/* border-width: 2rem; */
}

.sinscrire
{
	font-size: 1rem;
	width: 30%;
	color: rgb(6, 72, 250);
}

li
{
	list-style: none;
}



/* Section 1 : Les recherches */

#research
{
	margin-left: 2%;
}


.titre1
{
	color: black;
	font-size: 1.3rem;
}

.titre2
{
	color: black;
	font-size: 0.9rem;
	font-weight: 300;
	margin-top: -0.8rem;
}

/* partie recherche en fonction de la ville */

.researchcity
{
	display: flex;
	flex-direction: row;
	margin: 1.25rem 0 1.25rem 0;
	width: 28rem;
}

.mapmarker
{
	background-color: rgb(235, 235, 235);
	border-radius: 0.625rem 0 0 0.625rem;
	border-style: none;
	cursor: pointer;
	padding: 0.6rem 1rem 0.6rem 1rem;
	text-align: center;
}


.researchinput
{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: black;
	border-top: 0.1rem solid rgb(208, 208, 208);
	border-bottom: 0.1rem solid rgb(208, 208, 208);
	border-right: 0.15rem solid transparent;
	border-left: 0.15rem solid transparent;
	padding-left: 0.8rem;
}

.researchinput::placeholder
{
	color: black;
}


.button
{
	background-color: rgb(6, 72, 250);
	border-radius: 0 0.625rem 0.625rem 0;
	width: 7.8rem;
	height: 3rem;
	color: white;
	border-style: none;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}



/* partie recherche en fonction de filtres */


.filters
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	align-content: center;
	margin-top: 2rem;
}

.titrefilters
{
	font-size: 1rem;
	margin-right: 2rem;
	/* margin-top: -0.2rem; */
}

.filters div
{
	display: flex;
	align-items: center;
	margin-right: 2rem;
	margin-bottom: 1rem;
	border: 0.1rem solid rgb(235, 235, 235);
	border-radius: 2rem;
	cursor: pointer;
	font-weight: bold;
	padding-right: 1rem;
	font-size: 1rem;
}

.filters div:hover
{
	background-color: rgb(235, 235, 235);
}

.filters i 
{
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(6, 72, 250);
	background-color: rgb(215, 229, 254);
	border-radius: 100%;
	height: 3rem;
	width: 3rem;
	margin-right: 0.8rem;
}


.informations
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	font-size: 0.8em;
}

.iconei
{
	border-style: solid 0.15rem rgb(235, 235, 235);
	border-radius: 100%;
	cursor: pointer;
	background-color: white;
	padding: 1rem;
}

.dispos
{
	font-size: 1em;
}




/* Section 2 : Hébergements à Marseille */

#hebergements-et-pops
{
	display: flex;
	flex-direction: row;
	background-color: white;
	width: 100%
	height: 42.5rem;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1.875rem;
}

.bloc-hebergements
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 55rem;
	height: 39rem;
	padding: 1.875rem;
	border-radius: 1.25rem;
	background-color: rgb(239, 239, 239);
}


.titrehebergements
{
	font-size: 1.3em;
	/* margin: -0.5rem; */
	margin-left: 1rem;
	margin-top: 0.6rem;
}

.ligne1
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 2rem;
	margin-top: 0.625rem;
}

.vignettehebergement1
{
	background: white;
	border-radius: 1.25rem;
	width: 15.625rem;
	height: 12.5rem;
	box-shadow: 0.3rem 0.3rem 0.3rem rgb(230, 230, 230); 
}

.vignettehebergement1:hover
{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.reglagesphotosh
{
	width: 15rem;
	height: 7.5rem;
	object-fit: cover;
	border-style: solid;
	border-width: 0.3rem;
	border-color: white;
	border-radius: 1.56rem 1.56rem 0rem 0rem;
}


.souslaphoto
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 1em;
	background: white;
	border-radius: 0rem 0rem 1.56rem 1.56rem;
	padding-left: 0.95rem;
	padding-bottom: 0.95rem;
	margin-top: -0.8rem;
}


h3
{
	font-weight: bold;
	font-size: 1em;
}

.prix
{
	font-size: 1em;
}

.fa-star
{
	color: #0065fc;
	font-size: 0.8em;
}

.fa-star.grey
{
	color: rgb(207, 207, 207);
	font-size: 0.8em;
}

.ligne2
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 1.25rem;
	margin-top: 1.25rem;
}


.vignettehebergement2
{
	background: white;
	border-radius: 1.25rem;
	width: 15.5rem;
	height: 12.5rem;
	box-shadow: 0.3rem 0.3rem 0.3rem rgb(230, 230, 230); 
}

.vignettehebergement2:hover
{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.afficherplus
{
	font-size: 1.1em;
	margin-bottom: 0.7rem;
	margin-left: 1.25rem;
	margin-top: 1.5rem;
}


/* Les plus populaires */


.bloc-lespops
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 39rem;
	padding: 1.9rem;
	margin-left: 1.5rem;
	border-radius: 1.25rem;
	background-color: rgb(239, 239, 239);
}


.titrepops
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	margin-top: -1.25rem;
}

.titrep
{
	color: black;
	font-size: 0.9em;
	margin-left: 0.3rem;
	margin-top: 0.6rem;
}

.fa-chart-line
{
	color: black;
	font-size: 1.3em;
}

.colonne1
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: -0.7rem;
}

.vignettepop
{
	display: flex;
	background: white;
	border-radius: 1.25rem;
	width: 21.5rem;
	height: 9rem;
	box-shadow: 0.3rem 0.3rem 0.3rem rgb(230, 230, 230); 
	margin-top: 1.7rem;
	margin-bottom: 1.7rem;
}

.vignettepop:hover
{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.reglagesphotosp
{
	float: left;
	width: 8.125rem;
	height: 8.44rem;
	object-fit: cover;
	border-style: solid;
	border-width: 0.3rem;
	border-color: white;
	border-radius: 1.5rem 0rem 0rem 1.5rem;
}


.acotedelaphoto
{
	display: flex;
	flex-direction: column;
	font-size: 1em;
	background: white;
	border-radius: 0rem 0rem 1.7rem 1.7rem;
	padding-left: 0.94rem;
}

.prix
{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin-top: -0.3rem;
}


.fa-star
{
	color: #0065fc;
	font-size: 0.8em;
	padding-bottom: -0.625rem;
}


/* Section 3 : Activités à Marseille */


#activites
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	width: 100%;
	height: 37.5rem;
	margin-top: 2.5rem;
}

.titreactivites
{
	font-size: 1.3em;
	margin-left: 2.2rem;
	margin-top: 3.76rem;
	margin-bottom: -0.625rem;
}


.lignevignettes
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1.875rem;
}


.vignettea1
{
	background: white;
	border-radius: 1.25rem;
	width: 18.75rem;
	height: 28.125rem;
	box-shadow: 0.3rem 0.3rem 0.3rem rgb(230, 230, 230); 
	margin-top: 0.94rem;
}



.reglagesphotosa1
{
	width: 18.75rem;
	height: 24.4rem;
	object-fit: cover;
	border-color: white;
	border-radius: 1.5rem 1.5rem 0rem 0rem;
}

.titrea
{
	font-weight: bold;
	font-size: 1em;
	margin-left: 0.625rem;
}

.vignettea2
{
	background: white;
	border-radius: 1.25rem;
	width: 18.75rem;
	height: 14.7rem;
	box-shadow: 0.3rem 0.3rem 0.3rem rgb(230, 230, 230); 
}

.reglagesphotosa2
{
	width: 18.75rem;
	height: 11.25rem;
	object-fit: cover;
	border-color: white;
	border-radius: 1.5rem 1.5rem 0rem 0rem;
}

.vignettea3
{
	background: white;
	border-radius: 1.25rem;
	width: 18.75rem;
	height: 10.3rem;
	box-shadow: 0.3rem 0.3rem 0.3rem rgb(230, 230, 230);
	margin-top: 3.125rem;
}

.reglagesphotosa3
{
	width: 18.75rem;
	height: 6.875rem;
	object-fit: cover;
	border-color: white;
	border-radius: 1.5rem 1.5rem 0rem 0rem;
}

.vignettea4
{
	background: white;
	border-radius: 1.25rem;
	width: 18.75rem;
	height: 28.125rem;
	box-shadow: 0.3rem 0.3rem 0.3rem rgb(230, 230, 230); 
}

.reglagesphotosa4
{
	width: 18.75rem;
	height: 24.375rem;
	object-fit: cover;
	border-color: white;
	border-radius: 1.5rem 1.5rem 0rem 0rem;
}


.vignettea5
{
	background: white;
	border-radius: 1.25rem;
	width: 18.75rem;
	height: 12.2rem;
	box-shadow: 0.3rem 0.3rem 0.3rem rgb(230, 230, 230); 
}


.reglagesphotosa5
{
	width: 18.75rem;
	height: 8.75rem;
	object-fit: cover;
	border-color: white;
	border-radius: 1.5rem 1.5rem 0rem 0rem;
}

.vignettea6
{
	background: white;
	border-radius: 1.25rem;
	width: 18.75rem;
	height: 13.125rem;
	box-shadow: 0.3rem 0.3rem 0.3rem rgb(230, 230, 230);
	margin-top: 2.8rem;
}


.reglagesphotosa6
{
	width: 18.75rem;
	height: 10rem;
	object-fit: cover;
	border-color: white;
	border-radius: 1.5rem 1.5rem 0rem 0rem;
}





/* FOOTER */


#blocfooter
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	height: 13.75rem;
	background-color: rgb(239, 239, 239);
}

ul
{
	padding: 0;
}


.apropos
{
	font-size: 1em;
	padding: 3.125rem;
}

.noshebergements
{
	font-size: 1em;
	padding: 3.125rem;
	margin-left: 7.8rem;
}

.assistance
{
	font-size: 1em;
	padding: 3.125rem;
	margin-left: 10rem;
}	

.titref
{
	font-size: 1.3em;
}

li
{
	font-size: 1em;
}