/* Elements principaux de la page */


body
{
	width: 1440px;
	height: auto;
	background-color: white;
	font-family: 'Raleway', sans-serif;
}


a  /* supprime le soulignement et la couleur violette des textes cliquables */
{ 
	text-decoration: none;
	color: initial;
} 


/* Header */

#header
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width:  100%;
	height: 100%;
	margin-left: 2%;
	margin-right: 2%;
	font-family: 'Raleway', sans-serif;
}

.logo
{
	display: flex;
	height: 50px;
	width: 130px;
}

.navigation
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 450px;
}


nav ul
{
	border-top: solid 2px;
	border-color: transparent;
	padding: 38px 30px 0 30px;
}


nav ul :hover
{
	border-top: solid 2px;
	border-color: #0065fc;
}


.hebergements
{
	font-size: 1em;
	width: 33%;
}

.activites
{
	font-size: 1em;
	width: 33%;
}

.sinscrire
{
	font-size: 1em;
	width: 33%;
}

li
{
	list-style: none;
}



/* Section 1 : Les recherches */

.research
{
	width:  100%;
	height: 100%;
	margin-left: 2%;
	margin-right: 2%;
	font-family: 'Raleway', sans-serif;
}


.titre1
{
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 1em;
}

.titre2
{
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 0.7em;
}

.info
{
	font-size: 0.7em;
}


/* Section 2 : Hébergements à Marseille */

#hebergements-et-pops
{
	display: flex;
	flex-direction: row;
	background-color: white;
	width: 1440px;
	height: 680px;
	margin-left: 2%;
	margin-right: 2%;
}

.bloc-hebergements
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 880px;
	height: 625px;
	padding: 30px;
	border-radius: 20px;
	background-color: rgb(239, 239, 239);
}

.titrehebergements
{
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
	margin: -8px;
	margin-left: 5px;
}

.ligne1
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 20px;
	margin-top: -5px;
}

.vignettehebergement1
{
	background: white;
	border-radius: 20px;
	width: 250px;
	height: 200px;
	box-shadow: 5px 5px 5px rgb(230, 230, 230); 
}

.vignettehebergement1:hover
{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.reglagesphotosh
{
	width: 240px;
	height: 120px;
	object-fit: cover;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 25px 25px 0px 0px;
}


.souslaphoto
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	background: white;
	border-radius: 0px 0px 25px 25px;
	padding-left: 15px;
	padding-bottom: 15px;
}


h3
{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 1em;
}

.prix
{
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 1em;
}

.fa-star
{
	color: #0065fc;
	font-size: 0.8em;
}

.fa-star.grey
{
	color: rgb(207, 207, 207);
	font-size: 0.8em;
}

.ligne2
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 20px;
	margin-top: 5px;
}


.vignettehebergement2
{
	background: white;
	border-radius: 20px;
	width: 250px;
	height: 200px;
	box-shadow: 5px 5px 5px rgb(230, 230, 230); 
}

.vignettehebergement2:hover
{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.afficherplus
{
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	margin-bottom: 15px;
	margin-left: 20px;
}


/* Les plus populaires */


.bloc-lespops
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 420px;
	height: 625px;
	padding: 30px;
	margin-left: 25px;
	border-radius: 20px;
	background-color: rgb(239, 239, 239);
}


.titrepops
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	margin-top: -20px;
}

.titrep
{
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 0.9em;
	margin-left: 5px;
}

.fa-chart-line
{
	color: black;
	font-size: 1.3em;
}



.colonne1
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: -15px;
}


.vignettepop
{
	display: flex;
	background: white;
	border-radius: 20px;
	width: 345px;
	height: 145px;
	box-shadow: 5px 5px 5px rgb(230, 230, 230); 
	margin-top: 30px;
	margin-bottom: 30px;
}

.vignettepop:hover
{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.reglagesphotosp
{
	float: left;
	width: 130px;
	height: 135px;
	object-fit: cover;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 25px 0px 0px 25px;
}


.acotedelaphoto
{
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	background: white;
	border-radius: 0px 0px 25px 25px;
	padding-left: 15px;
}


h3
{
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 1em;
}


.prix
{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin-top: -5px;
}


.fa-star
{
	color: #0065fc;
	font-size: 0.8em;
	padding-bottom: -10px;
}





/* Section 3 : Activités à Marseille */


#activites
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	width: 100%;
	height: 600px;
	margin-top: 40px;
}

.titreactivites
{
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
	margin-left: 35px;
	margin-top: 60px;
	margin-bottom: -10px;
}


.lignevignettes
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 30px;
}


.vignettea1
{
	background: white;
	border-radius: 20px;
	width: 300px;
	height: 450px;
	box-shadow: 5px 5px 5px rgb(230, 230, 230); 
	margin-top: 15px;
}


.reglagesphotosa1
{
	width: 300px;
	height: 390px;
	object-fit: cover;
	border-color: white;
	border-radius: 25px 25px 0px 0px;
}

.titrea
{
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 1em;
	margin-left: 10px;
}

.vignettea2
{
	background: white;
	border-radius: 20px;
	width: 300px;
	height: 235px;
	box-shadow: 5px 5px 5px rgb(230, 230, 230); 
}
.reglagesphotosa2
{
	width: 300px;
	height: 180px;
	object-fit: cover;
	border-color: white;
	border-radius: 25px 25px 0px 0px;
}

.vignettea3
{
	background: white;
	border-radius: 20px;
	width: 300px;
	height: 165px;
	box-shadow: 5px 5px 5px rgb(230, 230, 230);
	margin-top: 50px;
}

.reglagesphotosa3
{
	width: 300px;
	height: 110px;
	object-fit: cover;
	border-color: white;
	border-radius: 25px 25px 0px 0px;
}


.vignettea4
{
	background: white;
	border-radius: 20px;
	width: 300px;
	height: 450px;
	box-shadow: 5px 5px 5px rgb(230, 230, 230); 
}


.reglagesphotosa4
{
	width: 300px;
	height: 390px;
	object-fit: cover;
	border-color: white;
	border-radius: 25px 25px 0px 0px;
}


.vignettea5
{
	background: white;
	border-radius: 20px;
	width: 300px;
	height: 195px;
	box-shadow: 5px 5px 5px rgb(230, 230, 230); 
}


.reglagesphotosa5
{
	width: 300px;
	height: 140px;
	object-fit: cover;
	border-color: white;
	border-radius: 25px 25px 0px 0px;
}

.vignettea6
{
	background: white;
	border-radius: 20px;
	width: 300px;
	height: 210px;
	box-shadow: 5px 5px 5px rgb(230, 230, 230);
	margin-top: 45px;
}


.reglagesphotosa6
{
	width: 300px;
	height: 160px;
	object-fit: cover;
	border-color: white;
	border-radius: 25px 25px 0px 0px;
}





/* FOOTER */


#blocfooter
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	height: 220px;
	background-color: rgb(239, 239, 239);
}

ul
{
	padding: 0;
}



.apropos
{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	padding: 50px;
}

.noshebergements
{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	padding: 50px;
	margin-left: 50px;
}

.assistance
{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	padding: 50px;
	margin-left: 50px;
}	

.titref
{
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
}

li
{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: 200;
	line-height : 2;
}