/* Définition de la police */

@font-face
{
  font-family: 'Raleway', sans-serif;
src:  url('Reservia_juin/Reservia/sources/Raleway/Raleway-Italic-VariableFont_wght.ttf');
src:  url('Reservia_juin/Reservia/sources/Raleway/Raleway-VariableFont_wght.ttf');
   font-weight: normal;
   font-style: normal;
}

/* Elements principaux de la page */

body
{
    background: color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 0);
}

#bloc_page
{
    width: 95%;
    margin: auto;
}

Rsearch, footer, nav
{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}
/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}







 h1
{ 
color: black; font-size: 4em; opacity: 1;
 }
 nav
 {
     display: inline-block;
     width: 150px;
     border: 1px solid black;
     position: absolute;
     right:  0px;
 }

 logo
 {
     position: absolute;
     left:  0px; 
 }

element
{
    color: blue; /* change la couleur */
    opacity: 0.1; /* change l'opacité. Ici 10% */
    background-color: yellow; /* change la couleur de fond */
    font-family: Arial;/* change la police utilisée */
    text-align: center; /* change l'allignement */
    font-size: 14px; /* change la taille de la police */
    border: 1px solid black; /* ajoute une bordure */
    margin: 5px; /* ajoute une marge autour de l'élément */
    padding: 10px; /* ajoute de l'espace à l'intérieur de l'élément */
    height: 50px; /* hauteur de l'élément */
    width: 50px; /* largeur de l'élément */
}