element
{
    color: blue; /* change la couleur */
    opacity: 0.1; /* change l'opacité. Ici 10% */
    background-color: yellow; /* change la couleur de fond */
    font-family: Arial;/* change la police utilisée */
    text-align: center; /* change l'allignement */
    font-size: 14px; /* change la taille de la police */
    border: 1px solid black; /* ajoute une bordure */
    margin: 5px; /* ajoute une marge autour de l'élément */
    padding: 10px; /* ajoute de l'espace à l'intérieur de l'élément */
    height: 50px; /* hauteur de l'élément */
    width: 50px; /* largeur de l'élément */
}

